<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LSPU ADMINISTRATION SYSTEM - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

  <div class="container">
    <img src="LSPU.jpg" alt="lspu-logo">
    <h4>ADMINISTRATION MANAGEMENT SYSTEM</h4>
    <h4>LSPU SINILOAN CAMPUS</h4>

    <h5>Email</h5>
    <input type="email" id="email" placeholder="Enter Email" required>

    <h5>Password</h5>
    <input type="password" id="password" placeholder="Enter Password" required>
    <br>

    <button type="button" id="loginBtn">Login</button>

    <p>Don't have an account? <a href="index.html">Sign up</a></p>

    <h6>© 2025 Laguna State Polytechnic University<br>Siniloan Campus</h6>
  </div>

  

</body>
</html>
